<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>space.png</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
            <key>Shell Script File</key>
            <string>init.sh</string>
			<key>Long Running</key>
			<false/>
			<key>Title</key>
			<string>p</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.anotherbug.panguspace.extension</string>
	<key>Extension Name</key>
	<string>盘古之白</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
